* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f8f8f8;
  color: #29292e;
}

body,
input,
button,
textarea {
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
